*{
  box-sizing: border-box;
}

span{
  display: block;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0rem auto;
}

.dropzone {
  width: 100%;
  height: 20rem;
  margin: 2rem 0;
  background: #f9f9f9;
  border: 2px dashed #ddd;
  cursor: pointer;
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
  opacity: 1; /* Set the initial opacity to fully visible */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: 500;
}

.dropzone:hover {
  opacity: 0.8; /* Adjust the opacity value to your preference during hover */
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  width: 100%;
  grid-gap: 1rem;
}

.images > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn button {
  padding: 0.5rem 1rem;
  border: 1px solid #36e436;
  background: #fff;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}

